* {
	font-family: sans-serif !important;
}

.titleFont {
	font-family: sans-serif !important;
	font-weight: 100 !important;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

.pointer {
	cursor: pointer;
}

.cursor-not-allowed {
	cursor: not-allowed !important;
}

.cursor-default {
	cursor: default !important;
}
.pointer-event-none {
	pointer-events: none;
}

.header {
	background-color: rgba(var(--v-theme-surface), 0.5) !important;
	z-index: 1;
}

.overlay {
	background-color: rgba(var(--v-theme-overlay), 0.5) !important;
}

.v-card--variant-elevated,
.v-card--variant-flat {
	background-color: rgba(var(--v-theme-background), 0.8) !important;
	backdrop-filter: blur(5px);
}

*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
*::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
	background-color: rgb(var(--v-theme-primary));
	border-radius: 5px;
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}
body::-webkit-scrollbar-track {
	border-radius: unset;
}

.text-indent {
	text-indent: 2em;
}

.v-overlay__scrim {
	background-color: rgb(var(--v-theme-overlay)) !important;
	opacity: 0.8 !important;
}

.animate-on-scroll-left {
	opacity: 0;
	transform: translateX(-250px);
	transition: opacity 500ms 100ms ease-in, transform 500ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.25);
}
.animate-on-scroll-left.is-visible {
	opacity: 1;
	transform: translateX(0);
}

.animate-on-scroll-right {
	opacity: 0;
	transform: translateX(250px);
	transition: opacity 500ms 100ms ease-in, transform 500ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.25);
}
.animate-on-scroll-right.is-visible {
	opacity: 1;
	transform: translateX(0);
}


.centered-input :deep(input) {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.centered-input :deep(input::-webkit-outer-spin-button),
.centered-input :deep(input::-webkit-inner-spin-button) {
  -webkit-appearance: none;
  margin: 0;
}

.centered-input :deep(input[type=number]) {
  -moz-appearance: textfield;
}